<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link href="/web/css.css" rel="stylesheet" type="text/css" /> 
  <script src="/javascript/jquery-1.11.0.min.js"></script> 
  <script src="/javascript/slide.js" ></script> 
  <script src="/javascript/jqueryChange.js"></script> 

 </head> 
 <body> 

  <base onmouseover="window.status='欢迎来到湖北应城市天使云乐园养老院网站！';return true" /> 
  <title>湖北应城市天使云乐园养老院</title> 
  <div  id='piao'><marquee scrollamount="2">天使云乐园是应城地区占地面积最大（ 100亩），规模第一，档次最高，设施最齐，环境最好的养老院，是老年朋友晚年生活的乐园，老有所为的田园，温馨和谐的家园，颐养天年的不二选择，地址：城北应云公路与应随公路交叉附近；联系电话：座机：07123287798，手机：13972663986（潘女士）</marquee></div>
  <div class="bu" width="984" height="0"> 
   <div class="qr_code_pc_inner" height="0px"> 
    <div class="qr_code_pc"> 
     <img id="js_pc_qr_code_img" class="qr_code_pc_img" src="/images/weixin.bmp" /> 
     <p>微信扫一扫<br />获得更多内容</p> 
    </div> 
   </div> 
  </div> 
  <table width="984" border="0" align="center" cellpadding="0" cellspacing="0"> 
   <tbody>
    <tr> 
     <td class='kuangjia' width="984" valign="top" height='222' background="/images/image001.jpg">
      <table width="984" height="187" border="0" cellpadding="0" cellspacing="0"> 
       <tbody>
       
        
        <tr height="187" background=""> 
        </tr>
       </tbody>
      </table>
      <table class="kuangjia" width="984" border="0" cellpadding="0" cellspacing="0"> 

         
        <tr id='lanmu'  align="center"> 
         <td width="70">&nbsp;</td> 
         <td width="110" height="35" href="/" class="movecai" id="shouye"><a href="/" class="new" height="35">首页</a></td> 
         <td width="130" class="movecai" id="juzhuhuanjing"><a href="/web/juzhuhuanjing/" class="new" height="35">居住环境</a></td>
         <td width="130" class="movecai" id="xinwenhuodong"><a href="/web/xinwenhuodong/" class="new" height="35">新闻活动</a></td> 
         <td width="132" id="fuwuneirong" class="movecai"><a href="/web/fuwuneirong/" class="new">服务内容</a></td> 
         <td width="135" class="movecai" id="ruyuanxuzhi"><a href="/web/ruyuanxuzhi/" class="new">入院须知</a></td> 
         
         <td width="116" class="movecai" id="lianxiwomen"><a href="/web/lianxiwomen/" class="new">联系我们</a></td> 
		 <td width="130" class="movecai" id="zhaopinqishi"><a href="/web/zhaopinqishi/" class="new">招聘启事</a></td> 
         
        </tr> 
       
      </table> </td>
    </td>
	</tr>
   </tbody>
  </table>     
  <table width="984" border="0" cellpadding="0" cellspacing="0" align="center"> 
   <tbody>
    <tr> 
     <td width="265" align="center" valign="top">
      <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> <style type="text/css">
<!--
.STYLE1 {font-size: 12px}
-->
</style> 
      <table width="265" border="0" cellpadding="0" cellspacing="0"> 
       <tbody>
        <tr> 
         <td height="56" valign="top" background="/images/4.jpg">
          <table width="265" border="0" cellpadding="0" cellspacing="0"> 
           <tbody>
            <tr> 
             <td height="10" colspan="3">&nbsp;</td> 
            </tr> 
            <tr> 
             <td width="71">&nbsp;</td> 
             <td width="104" height="25" align="left" class="tit2"><a href="/xinwenhuodong/" class="new" height="35">新闻</a></td> 
             <td width="90">&nbsp;</td> 
            </tr> 
           </tbody>
          </table></td> 
        </tr> 
        <tr> 
         <td background="/images/5.jpg">
          <table width="265" border="0" cellpadding="0" cellspacing="0"> 
           <tbody>
            <tr> 
             <td width="19">&nbsp;</td> 
             <td width="229" height="160" align="center"> 
              <div id="imgADPlayer"></div> 
			  <script> 

        PImgPlayer.addItem( "<a id='zhounianqing'  class='imgADPlayer' >天使云乐园养老院周年庆典</a>", "#", "/img/zhounianqing13.jpg");   PImgPlayer.addItem( "<a  id='lingdaoguanhuai' class='imgADPlayer'>领导关怀</a>", "#", "/img/tanfang.jpg"); 
        PImgPlayer.addItem( "<a id='yingchengtianshiyunleyuanyanglaoyuantanfang'  target=_blank class='imgADPlayer' >应城天使云乐园探访</a>", "#", "/img/xingfulaoren.jpg");  
        PImgPlayer.addItem( "<a id='chongyangjiehuodong' target=_blank  class='imgADPlayer' >重阳节活动</a>", "#", "/img/chongyangjie4.jpg");  
		PImgPlayer.addItem( "<a id='kaiye'  class='imgADPlayer' >应城社会福利中心开业</a>", "#", "/img/yingchengshizaiquanshengshuaixiantuixinggongjianminyingmoshi_clip_image002.gif"); 	
 
    
		PImgPlayer.init( "imgADPlayer", 229, 280 ); 
		/*$('#imgADPlayer ul').remove();
		$('#imgADPlayer h1').remove();*/
		</script>
		</td> 
             <td width="17">&nbsp;</td> 
            </tr> 
           </tbody>
          </table></td> 
        </tr> 
        <tr> 
         <td><img src="/images/6.jpg" width="265" height="18" /></td> 
        </tr>  
        <tr> 
         <td style="line-height:10px"></td> 
        </tr>   
        <tr class="contactme"> 
         <td><img src="/images/7.jpg" width="265" height="25" /></td> 
        </tr> 
        <tr class="contactme"> 
         <td background="/images/5.jpg">
          <table width="265" border="0" cellpadding="0" cellspacing="0"> 
           <tbody>
            <tr> 
             <td width="15px"></td> 
             <td width="229">
              <table width="220" border="0" align="center" cellpadding="0" cellspacing="0"> 
               <tbody>
                <tr> 
                 <td height="30" align="left" class="tit">联系我们</td> 
                </tr> 
                <tr> 
                 <td height="200" align="left" class="tit"><p class="huju"><strong>湖北应城市天使云乐园养老院</strong><br /> <span style="font-size:12px">地址：湖北孝感应城市北冯家堤118号（城北应云公路与应随公路交叉附近）<br /> 咨询电话：0712-3287798<br /> 手机： 13972663986(潘女士)</span><span style="font-size:12px"><br /> 邮箱：ycfuli@ycfuli.com</span></p> </td> 
                </tr> 
               </tbody>
              </table></td> 
            </tr> 
           </tbody>
          </table></td> 
        </tr> 
        <tr class="contactme"> 
         <td><img src="/images/8.jpg" width="265" height="22" /></td> 
        </tr> 
       </tbody>
      </table> </td> 
     <td width="719" valign="top" id="othercontent"> </td> 
     <td width="719" valign="top" id="maincontent">
      <table width="719" border="0" cellpadding="0" cellspacing="0"> 
       <tbody>
        <tr> 
         <td height="56" valign="top" background="/images/10.jpg">
          <table width="328" border="0" cellpadding="0" cellspacing="0"> 
           <tbody>
            <tr> 
             <td height="15" colspan="3">&nbsp;</td> 
            </tr> 
            <tr> 
             <td width="74">&nbsp;</td> 
             <td width="144" height="25" class="tit2">{{page.biaoti}}</td> 
             <td width="110">&nbsp;</td> 
            </tr> 
           </tbody>
          </table></td> 
        </tr> 
        <tr> 
         <td height="300" valign="top" background="/images/11.jpg">
          <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
           <tbody>
            <tr> 
             <td width="3%">&nbsp;</td> 
             <td width="95%">
              {{content}}</td> 
             <td width="2%">&nbsp;</td> 
            </tr> 
           </tbody>
          </table></td> 
        </tr> 
        <tr> 
         <td><img src="/images/12.jpg" width="719" height="11" /></td> 
        </tr> 
        <tr> 
         <td>&nbsp;</td> 
        </tr> 
       </tbody>
      </table> </td> 
    </tr>
   </tbody>
  </table> 
  <table width="984" border="0px" align="center" cellpadding="0" cellspacing="0"> 
   <tbody>
    <tr> 
     <td height="56" valign="top" background="/images/15.jpg">
      <table width="328" border="0" cellpadding="0" cellspacing="0"> 
       <tbody>
        <tr> 
         <td height="15" colspan="3">&nbsp;</td> 
        </tr> 
        <tr> 
         <td width="74">&nbsp;</td> 
         <td width="144" height="25" class="tit2">院内设施</td> 
         <td width="110">&nbsp;</td> 
        </tr> 
       </tbody>
      </table></td> 
    </tr> 
    <tr> 
     <td height="150" valign="top" background="/images/14.jpg">
      <table width="984" border="0" cellpadding="0" cellspacing="0"> 
       <tbody>
        <tr> 
         <td width="50">&nbsp;</td> 
         <td width="984">
          <div id="demo" style="OVERFLOW: hidden; WIDTH:950px"> 
           <table width="100%" align="center"> 
            <tbody>
             <tr> 
              <td id="demo1">
               <table width="100%"> 
                <tbody>
                 <tr> 
                  <td width="166"><img src="/img/chufang2.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                  <td width="166"><img src="/img/huanjing2.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                  <td width="166"><img src="/img/huanjing6.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                  <td width="166"><img src="/img/shitang.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                  <td width="166"><img src="/img/jianshensheshi.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                  <td width="166"><img src="/img/huanjing5.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                  <td width="166"><img src="/img/zhengti.jpg" height="120" hspace="10" border="0" onmouseover="this.style.border=&quot;1px solid #e31a13&quot;" onmouseout="this.style.border=&quot;1px solid #CCC&quot;" style="border:1px solid #CCC;" /></td> 
                 </tr> 
                </tbody>
               </table> </td> 
              <td id="demo2" valign="top"></td> 
             </tr> 
            </tbody>
           </table> 
          </div></td> 
         <td width="40">&nbsp;</td> 
        </tr> 
       </tbody>
      </table></td> 
    </tr> 
    <tr> 
     <td><img src="/images/13.jpg" width="984" height="11" /></td> 
    </tr> 
   </tbody>
  </table> 
  <table width="984" border="0" align="center" cellpadding="0" cellspacing="0"> 
   <tbody>
    <tr> 
     <td>&nbsp;</td> 
    </tr> 
    <tr>
    <td class='lianjie'>&nbsp;友情链接:&nbsp;&nbsp;&nbsp;&nbsp;<a class="lianjie" href="http://www.hbmzt.gov.cn/">湖北省民政厅</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="lianjie" href="http://yingchengnet.com/">应城网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="lianjie" href="http://bbs.yingchengnet.com/">应城论坛</a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="lianjie" href="http://www.yanglao.com.cn">养老网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="lianjie" href="http://www.diqiujiayuan.net/">地球家园网</a>
       

    </tr>
    <tr>
     &nbsp;
    </tr>
   </tbody>
  </table>   


 </body>
  <footer align='center'>&copy;天使云乐园养老院 版权所有 <br> <a href='http://tegulia.com/'>Tegulia</a> 制作维护 powered by <a href='http://jekyllcn.com/'>Jekyll </a> 
  
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253700433'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253700433%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
   </footer>
<script>
 
					var speed=25
                      demo2.innerHTML=demo1.innerHTML
                      function Marquee(){
                          if(demo2.offsetWidth-demo.scrollLeft<=0)
                              demo.scrollLeft-=demo1.offsetWidth
                          else{
                              demo.scrollLeft++
                          }
                      }

                      var MyMar=setInterval(Marquee,speed)
                      demo.onmouseover=function() {clearInterval(MyMar)}
                      demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
 </script>
</html>
